<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<title>EasyFin</title>
	</head>
	<body>
		<h1>EasyFin - Organização Financeira</h1>
		
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul style="color: blue;">
				{% for msg in messages %}
					<li>{{ msg }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}

		{% if user and user.is_authenticated %}
			<p>Olá, {{ user.nome }}! (<a href="{{ url_for('contas.logout') }}">Sair</a>)</p>

			<h2>Nova Categoria</h2>
            <form method="post" action="{{ url_for('financas.nova_categoria') }}">
                <label>Nome da Categoria: <input type="text" name="nome" required></label><br>
                <label>Teto de Gastos (Opcional): <input type="number" step="0.01" name="teto"></label><br>
                <button type="submit">Salvar Categoria</button>
            </form>

			<h2>Nova transação</h2>
			<form method="post" action="{{ url_for('financas.nova_transacao') }}">
				<label>Valor: <input type="number" step="0.01" name="valor" required></label><br>
				<label>Tipo:
					<select name="tipo">
						<option value="SAIDA">SAIDA</option>
						<option value="ENTRADA">ENTRADA</option>
					</select>
				</label><br>
				<label>Categoria: 
					<select name="categoria">
						<option value="">-- Sem Categoria --</option>
						{% for cat in categorias %}
							<option value="{{ cat.id }}">{{ cat.nome }}</option>
						{% endfor %}
					</select>
				</label><br>
                <label>Data: <input type="date" name="data" value="{{ data_hoje }}"></label><br>
				<label>Descrição: <input type="text" name="descricao"></label><br>
				<button type="submit">Salvar</button>
			</form>
			<hr>

			<h2>Minhas Transações</h2>
			<ul>
				{% for tx in transacoes %}
					<li>
						<strong>{{ tx.data.strftime('%d/%m/%Y') }}</strong> - {{ tx.descricao }} | 
						{{ tx.tipo }}: R$ {{ "%.2f"|format(tx.valor) }}
					</li>
				{% else %}
					<li>Nenhuma transação encontrada no banco de dados.</li>
				{% endfor %}
			</ul>

		{% else %}
			<p><a href="{{ url_for('contas.login') }}">Entrar</a> ou <a href="{{ url_for('contas.cadastro') }}">Criar conta</a></p>
		{% endif %}
	</body>
</html>